/*----------------------------------------------------------------------------------
 * BODY & PAGE
 *----------------------------------------------------------------------------------
 */

body {
    font-family: system-ui !important;
    font-size: 1rem;
    color: #444;
}


/*----------------------------------------------------------------------------------
 * PAGE > MAIN
 *----------------------------------------------------------------------------------
 */

#main {
	width: 90%;
	margin: 0 auto;
}
