/*----------------------------------------------------------------------------------
 * PAGE > MAIN > NAV
 *----------------------------------------------------------------------------------
 */

#nav {
    margin: 0 auto 5rem;
    padding: 0 2rem;
    float: left;
    width: 20%;
    border-radius: 4px;
}

#nav ul {
	display:block;
}

#nav ul li {
	list-style-type: none;
	color:#000;
	font-size:16px;
	letter-spacing: 0.1em;
	margin-top: 1.2em;
}

.category-menu {
    list-style-type: none;
    color: #000;
    font-size: 16px;
    letter-spacing: 0.1em;
    border-radius: 4px;
    background: whitesmoke;
}

#nav ul li ul {
	list-style-type: none;
	margin-top:	10px;
}

#nav ul li ul li {
    list-style-type: none;
    font-weight: normal;
    font-size: 10px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

#nav ul li ul li.selected {
	background:#CCC;
}

#nav ul li ul li a {
    display: block;
    padding: 1em 1em 1em 2em;
    color: #606060;
}

#nav ul li ul li a:hover {
	background-color: #CCC;
	color: #444;
}

#nav ul li ul li.selected a {
	color: #444;
	font-weight:bold;
}

#nav .category-title {
    padding: 0.5rem 0 0.66rem 1rem;
    background: #a7a7a7;
    color: white;
    margin: 2rem auto 0.5rem;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    font-weight: 600;
    text-transform: capitalize;
}

.category-menu {
    padding-bottom: 0.5rem;
}

/*----------------------------------------------------------------------------------
 * PAGE > MAIN > SUBNAV
 *----------------------------------------------------------------------------------
 */

#subnav {
    margin: 2.15rem 0 0 0;
    float: right;
    width: 72%;
}

#subnav ul li {
	display: block;
	float: left;

	margin: 0.2em 0.4em 0.6em 0;

}

#subnav ul li a {
    font-size: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #8d8d8d;
    font-weight: bold;
    border: 1px solid #CCC;
    padding: 0.5rem 2.5rem;
    border-radius: 4px;
}

#subnav ul li.selected a, #subnav ul li a:hover {
    background-color: #3d007e;
    border: 1px solid #3d007e;
    color: #FFF;
}

#subnav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}