/*----------------------------------------------------------------------------------
 * PAGE > HEADER
 *----------------------------------------------------------------------------------
 */

#header {
    height: 4rem;
    padding: 1rem;
    background: #3d007e;
    display: flex;
    background-size: 8rem;
    flex-direction: row;
    flex-wrap: nowrap;
    background-image: url(../../img/logo-trinity-full-white.png);
    background-position: 8.5rem center;
    justify-content: flex-end;
    background-repeat: no-repeat;
    align-items: center;
}

/*----------------------------------------------------------------------------------
 * NETWORKING HEADER & GLOBAL COLOR
 *----------------------------------------------------------------------------------
 */

#networking #header {
    height: 4rem;
    padding: 1rem;
    background: #00808d;
    display: flex;
    background-size: 8rem;
    flex-direction: row;
    flex-wrap: nowrap;
    background-image: url(../../img/logo-trinity-full-white.png);
    background-position: 8.5rem center;
    justify-content: flex-end;
    background-repeat: no-repeat;
}

#networking #networking-title.category-title {
    background: #00808d;
}

#networking-title.category-title:hover {
    background: #00808d;
}

#networking #subnav ul li.selected a,
#networking #subnav ul li a:hover {
    background-color: #00808d;
    border: 1px solid #00808d;
    color: #FFF;
}

#networking #content .submit {
    font-size: 0.65rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.75rem 3.5rem;
    border: 1px solid #00808d;
    background: #00808d;
	width: 15vw;
}



/*----------------------------------------------------------------------------------
 * APPLICATIONS HEADER
 *----------------------------------------------------------------------------------
 */
 
 #applications #header {
    height: 4rem;
    padding: 1rem;
    background: #890259;
    display: flex;
    background-size: 8rem;
    flex-direction: row;
    flex-wrap: nowrap;
    background-image: url(../../img/logo-trinity-full-white.png);
    background-position: 8.5rem center;
    justify-content: flex-end;
    background-repeat: no-repeat;
}

#applications #applications-title.category-title {
    background: #890259;
}

#applications-title.category-title:hover {
    background: #890259;
}

#applications #subnav ul li.selected a,
#applications #subnav ul li a:hover {
    background-color: #890259;
    border: 1px solid #890259;
    color: #FFF;
}

#applications #content .submit {
    font-size: 0.65rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.75rem 3.5rem;
    border: 1px solid #890259;
    background: #890259;
}

/*----------------------------------------------------------------------------------
 * DEFAULT
 *----------------------------------------------------------------------------------
 */

#header p {
    font-weight: 600;
    float: right;
    font-size: 10px;
    color: white;
}
	
#header a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}

#header h1 {
	text-indent: -999em;
}

#header p.hostname {
	color:#000;
	position:absolute;
	top:55px;
	left:34px;
	font-size:12px;
}

#header a:first-child:before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: '\F502';
    margin: 0 0.33rem;
    position: relative;
    top: -0.05rem;
    font-size: 0.75rem;
}

#system #system-title.category-title,
#system-title.category-title:hover {
    background: #3d007e;
}